# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# typescript
/miniprogram/**/*.js
/miniprogram/**/*.jsx
/miniprogram/**/*.d.ts
!/miniprogram/miniprogram_npm/**/*.js
