
function mainPrice(price, discountPrice) {
    if(!discountPrice) {
        return price;
    } else {
        return discountPrice;
    }
}

function slashedPrice(price, discountPrice) {
    if(discountPrice) {
        return price;
    } else {
        return;
    }
}

module.exports = {
    mainPrice: mainPrice,
    slashedPrice: slashedPrice
}